@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}
section{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;  
    width: 100%;
    min-height: 100vh;
}
section h2{
    
    padding-top: 14rem;
    text-align: center;
    font-size: 4.5rem;
    background: black;
    color: white;
    font-family: fantasy, sans-serif ,sans-serif;
    letter-spacing: .1rem;
    font-weight: 500;
}
div .imageninicial{
    height: 18rem;
    width: 100%;
    background: url('https://www.youtube.com/watch?v=6FBE7fUoRFc/imagenes/pepsi4.jpg');
    box-shadow: 0 .5rem 1rem black;
    background-position: 0 0;
    animation: mover-fondo 60s linear infinite;   
}
@keyframes mover-fondo {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

div.box{
    display: flex;
    padding: 3rem;
    background:black;
    align-items: center;
    justify-content: center;
    width: 100%;
}
div.box .video iframe{
    padding: 2rem;
    width: 60rem;
    height: 30rem;
}
div.box .text{
    margin-left: 2rem;
    padding: 2rem;
    text-align: justify;
}
div.box .text h3{   
    padding: 1rem;
    padding-top: 4rem;
    font-size: 2.3rem;
    color: wheat;
    border-bottom:.1rem solid wheat ;
}
div.box .text p{
    font-size: 1.5rem;
    color: aliceblue;
    margin-bottom: 2rem;
}
.btn{
    text-decoration: none;
    color: wheat;
    padding: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    border: 1rem solid wheat;
    border-radius: .3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    transition: all .3s linear;
}
.btn:hover{
    background: rgb(223, 223, 223,0.2);
    transform: scale(1.1);
}
div.box img{
    height: 40rem;
    margin: 2rem;
    border-radius: 1rem;
    
}
@media(max-width:1200px) {
    html{
        font-size:55%;
    }
    section{
        width: 100%;
    }
}
@media(max-width:990px){
    div.box{
        flex-direction: column;
        
    }
    div.box .video iframe{
        width: 90%;
        text-align: center;
        margin:auto;
        justify-content: center;
    }
    div.box .text{
        text-align: center;
    }
    
}

@media(max-width:768px){
    div .imageninicial{
        background-position:center;
    }
    div.box{
        flex-direction: column;
        
    }
    div.box .video iframe{
        width: 90%;
        text-align: center;
        margin:auto;
        justify-content: center;
    }
    div.box .text{
        text-align: center;
    }
    div.box img{
        
        margin-top: 4rem;
        
        height: 20rem;
    }
    }
    
@media(max-width:450px){
    html{
        font-size: 49%;
    }
}
